<div class="workspace">
  <div style="margin-left: 5%">
    <div class="flexRow" style="margin-top: 5%; margin-bottom: 19px;">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color: #E67E22">Features</h1>
        </div>
      </div>
    </div>

    <div class="flexrow">
      <div class="card card-content">
        <div class="explainText" style="height: 50vh">
          <p>Solution Hunter has advanced Genetic Algorithms methods to allow this type of search engine 
            to be even faster and more effective.
          <p>
          <ul>
            <li>Using Hunter requires that it "understand" the type of problem as well as having
              a list of the things that influence it.  
            </li>
            <li>Hunter provides a number of "plug-ins" targeted at different problem areas.
            </li>
            <li>Hunter can be used by large or small businesses, or individuals.</li>
            <li>It can run on a variety of environments Azure, AWS, or corporate Systems.
            </li>
            <li>It can run on single computers or multiple local or remote systems for additional
            speed. </li>
            <li>	Hunter is highly configurable and can learn to improve its strategy
                to solve the current problem more efficiently.
                When it finds a better “hunter”, it will dynamically switch to the more powerful image without interruption.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

