<div class="workspace">

  <div style="margin-left: 5%" style="margin-top: 5%; margin-bottom: 19px;">
    <div class="flexRow">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color: #E67E22">Artificial Intelligence</h1>
        </div>
      </div>
    </div>

    <div class="flexRow" style="height: 3vh"></div>

    <div class="flexRow">
      <div class="card card-content">
        <div class="explainText"  style="height: 50vh">
          <p style="color:#E67E22">Brief overview of Artificial Intelligence and Genetic Algorithms.</p>
          <p><b>Artificial Intelligence:</b> computers mimic the way humans think, behave, or evolve
            in order to find a solution.  They evolve to adapt and they do it really fast.
          </p>
            
          <p> Some AI systems called "Expert Systems" are "hard-wired" with known information to build 
            and maintain things like cars or jet aircraft.  IF something is found that it doesn't know,
            human experts build answers into the "Expert System".  
            Expert Systems deal with <b>known</b> problems and generally are not
            intended to learn or adapt.
          </p>
    
          <p> Solution Hunter is based on a model called <b>Genetic Algorithms</b>, which - in its enhanced form - is
            be very powerful and service a great many needs with less effort. </p>

          <p> Hunter creates "populations" of solutions with tools to solve a problem. Like humans,
            they intermarry and give birth to children that are a blend of their parents' problem solving characteristics.  
            They evolve quickly over thousands of generations migrating toward a best solution with lightning speed.  
          </p>

        </div>
      </div>
    </div>
  </div>

</div>


